@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

@font-face {
  font-family: 'peace-sans';
  src: url('../../fonts/peace_sans/Peace\ Sans.otf');
  src: url('../../fonts/peace_sans/Peace\ Sans\ Webfont.ttf');
}
