
body {
    background: map-get($map: $theme-colors, $key: primary);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'peace-sans', 'sans-serif';
}

p,
li {
    font-family: 'Anonymous Pro', 'arial', 'sans-serif';
}

a,
input,
button {
    outline: none;
}