/** Import Bootstrap functions */
@import '~bootstrap/scss/functions';

$theme-colors: (
  primary: #282d3c,
  secondary: #f0ede5,
  tertiary: #fa7268
);

$theme-breakpoints: (
  small-phone: 320px,
  phone: 567px,
  social_pug_switch: 721px,
  tablets: 768px,
  notebook: 992px,
  desktop: 1200px,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
